/******************
* File: style.css
* Author: Scott Larson
* Date: 9 November 2012
*******************/

body  p {
	font-family: Arial;
	color: white;
	font-weight: bold;
	margin: 0px;
	overflow: hidden;
}

#container { 
	background-color: #ccccff;
	position: absolute;
	top: 0;
	left: 0;
	z-index:0;
	overflow: hidden;
}

#pauseContainer {
	position:absolute;
	left: 0;
	top: 0;
	
}

.hudElement {
	color: #1FFFFF;
	font-size: 25px;
	font-weight: bold;
}

#btnPause {
	position:absolute;
	top: 3;
	left: 3;
	width: 80px;
	height: 40px;
	background: transparent;
	border: transparent;
	
}

#hudContainer {
	height: 100px;
	width: 500px;
	position: absolute;
	bottom:0;
	left: 50%;
	margin-left: -250px;
}

#playerHealth {
	position: absolute;
	bottom: 55;
	left: 50%;
	margin-left: -70px;
	
}

#playerResources {
	position: absolute;
	bottom:10;
	left: 50%;
	margin-left: -180px;
}

#numEnemies {
	position: absolute;
	bottom:10;
	left: 50%;
	margin-left: 25px;
}

#debugDraw {
	position:absolute;
	height:400px;
	width:600px;
	bottom:0;
	right:0;
	z-index:1;
}

#canvas {
	height:400px;
	width:600px;
	background-color:#333333;
}

#statsDiv {
	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
}

div.menuPage {
	width: 100%;
	height: 100%;
	background-color: #2f2f2f;
}

div.menuPage h1 {
	margin: 0;
	text-align: center;
	font-family: Arial, Tahoma, Georgia, "Bitstream Charter", serif;
	color: white;
}

div.menuPage h3 {
	color: #22ccee;
	text-align: center;
	font-family: Arial;
}

/*** Start menu ***/
div#startMenu  div.instructions {
	margin: 10px 60px;
}

div#startMenu  div.instructions div {
	text-align: center;
	margin: 0 30px;
}

div#startMenu  div.controls {
	margin: 10px 60px;
}

div#startMenu  div.controls div {
	text-align: center;
	margin: 0 30px;
}
div#startMenu div.startBtnWrapper {
	text-align: center;
	margin: 85px 0 0 0;
}

#loadImage {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width:30%;

}

div#startMenu button#btnStart {
	color: #3F3F3F;
	width: 100px;
	height: 50px;
	font-size: 28px;
	font-weight: bold;
}
/*** end Start menu ***/