/******************
* File: style.css
* Author: Scott Larson
* Date: 9 November 2012
*******************/

body  p {
	font-family: Arial;
	color: white;
	font-weight: bold;
}

#container { 
	background-color: #ccccff;
	margin: 0px;
	overflow: hidden;
	z-index:0;
}

#debugDraw {
	position:absolute;
	height:400px;
	width:600px;
	bottom:0;
	right:0;
	z-index:1;
}

#canvas {
	height:400px;
	width:600px;
	background-color:#333333;
}
